ADMIN_PASSWORD=darling
NURI_INNER_PASSWORD=root
GROQ_API_KEY_1=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
GROQ_API_KEY_2=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
GROQ_API_KEY_3=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
GEMINI_API_KEY=AIzaSyBVJI7TTZ3tUKzayQ4oiVJ9NdzX8-OU32M
